<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/CS7290_NEU">Home</a></li>
<li><a href="/CS7290_NEU/blob/main/about/index.html">About</a></li>
<li><a href="/CS7290_NEU/blob/main/short_projects/index.html">Short Projects</a></li>
<li><a href="/CS7290_NEU/blob/main/term_project/index.html">Term Project</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:kurtcruz@gmail.com">Contact Me</a></li>
   <li>GitHub Repo: <a href="https://github.com/Paulrkcruz/CS7290_NEU">github.com/Paulrkcruz/CS7290_NEU</a></li>
   </ul>
<p>I'm hosted with GitHub Pages.</p>
  </footer>
  </body>

</html>
