<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/short_projects">Short Projects</a></li>
<li><a href="/term_project">Term Project</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:kurtcruz@gmail.com">Contact Me</a></li>
   <li>GitHub Repo: <a href="https://github.com/Paulrkcruz/CS7290_NEU">github.com/Paulrkcruz/CS7290_NEU</a></li>
   </ul>
  </footer>
  </body>

</html>
